html {
    font-family: "Source Sans Pro", sans-serif;
}

.game-container.hidden {
    display: none;
}

.title {
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 600;
}

.subtitle {
    position: fixed;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.game-end {
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 0);
}

.game-end-message {
    display: inline-block;
    font-size: 24px;

    margin-right: 20px;
}

.play-again-button {
    display: inline-block;
    cursor: pointer;

    font-size: 16px;
    color: black;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 5px;
}

.game-container {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.game-square {
    position: relative;
    text-align: center;
    padding: 60px;
    color: black;
    background-color: white;
    border: 1px solid lightgray;

    font-size: 28px;
    cursor: pointer;
}

.players-container {
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.player-container {
    text-align: center;
}

.player-num {
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.player-name-input {
    font-size: 16px;
    width: 70%;
    color: black;
    padding: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    margin: 0 26px;
    border: none;
    outline: none;
    border-radius: 8px;
    text-align: center;
}

.player-name {
    font-size: 16px;
    color: black;
    padding: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    margin: 0 26px;
    border-radius: 8px;
}

.active {
    background-color: #4BB543;
    color: white;
}

.play-button {
    font-size: 18px;
    position: fixed;
    top: 26%;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 12px 24px;
    border: none;
    outline: none;
    background-color: #4BB543;
    color: white;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.play-button:hover {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

}